@font-face {
  font-family: 'exo_2';
  src: url('../fonts/exo2black-webfont.eot');
  src: url('../fonts/exo2black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo2black-webfont.woff2') format('woff2'), url('../fonts/exo2black-webfont.woff') format('woff'), url('../fonts/exo2black-webfont.ttf') format('truetype'), url('../fonts/exo2black-webfont.svg#exo_2_blackregular') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'exo_2';
  src: url('../fonts/exo2bold-webfont.eot');
  src: url('../fonts/exo2bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo2bold-webfont.woff2') format('woff2'), url('../fonts/exo2bold-webfont.woff') format('woff'), url('../fonts/exo2bold-webfont.ttf') format('truetype'), url('../fonts/exo2bold-webfont.svg#exo_2bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'exo_2';
  src: url('../fonts/exo2light-webfont.eot');
  src: url('../fonts/exo2light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo2light-webfont.woff2') format('woff2'), url('../fonts/exo2light-webfont.woff') format('woff'), url('../fonts/exo2light-webfont.ttf') format('truetype'), url('../fonts/exo2light-webfont.svg#exo_2_lightregular') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'exo_2';
  src: url('../fonts/exo2medium-webfont.eot');
  src: url('../fonts/exo2medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo2medium-webfont.woff2') format('woff2'), url('../fonts/exo2medium-webfont.woff') format('woff'), url('../fonts/exo2medium-webfont.ttf') format('truetype'), url('../fonts/exo2medium-webfont.svg#exo_2_mediumregular') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'exo_2';
  src: url('../fonts/exo2regular-webfont.eot');
  src: url('../fonts/exo2regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo2regular-webfont.woff2') format('woff2'), url('../fonts/exo2regular-webfont.woff') format('woff'), url('../fonts/exo2regular-webfont.ttf') format('truetype'), url('../fonts/exo2regular-webfont.svg#exo_2regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
